atomicwrites==1.2.1
attrs==18.2.0
backports-abc==0.5
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
funcsigs==1.0.2
futures==3.2.0
get==1.0.3
gevent==1.3.6
greenlet==0.4.15
idna==2.7
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
post==1.0.2
public==1.0.3
py==1.6.0
pycparser==2.18
pytest==3.8.0
query-string==1.0.2
request==1.0.2
requests==2.19.1
scandir==1.9.0
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
urllib3==1.23
